* {
    margin: 0%;
    padding: 0%;
}
h1{
    text-align: center;
    background-image: url(./images/1zeytC.jpg) ;
    color: rgb(222, 220, 220);
}
h3{
    text-align: left;
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
}

.bg {
background-image: url(./images/bgimage.jpg);
background-size: cover;
background-position: center;
height: 100vh;

}
p {
    font-weight: bolder;
    color: antiquewhite;

}
.tab {
    background-color: azure;
    margin: 10px;
    padding: 5px;
}
.tabb {
    background-color:rgb(43, 27, 27);
}