@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&family=Jost&family=Rubik:wght@500&display=swap'); 
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.flex {
    display: flex;
    justify-content: space-between;
}
h3 {
    font-size: 1.7rem;
}
h2{
    margin: 0 .7em;
    font-family:'Jost' ;
}
h1{ 
    font-weight: 900;
    margin: 0 .48em;
    font-family:'Rubik';
    font-size: 2.2rem;
}
ul li {
    display: inline-block;
    font-size: 1.1rem;
    padding: 0 .5rem;
    transition: .2s;
} 
ul li:hover{
    color: rgb(243, 107, 44) ;
} 
nav {
    align-items: center;
    font-family: 'Nunito';
    padding: .5rem .8rem;
}
span{
    color: rgb(243, 107, 44);}
p {
    margin: 1rem;
    font-weight: 100;
    font-family: Rubik;
    font-size:1.2rem;
}
@media (max-width:400px){
    .blob {
        margin: 2rem auto;
         }
      

}  
