@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&family=Jost&family=Rubik:wght@400&display=swap'); 
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root {
    --primaryclr :  rgb(243, 107, 44) ;
}
.content {
    display: none;
}
.preloader {
    font-size: larger;
    font-weight: 200;
    color: rgb(0, 0, 0);
    /* background: #f54f26c2; */
    height: 100vh;
    display: flex;
    /* gap: 5px; */
    width: 100vw;
    text-align: center;
}
.strips {
    flex: 1;
    background: var(--primaryclr)
}
.greetings {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html{
    scroll-behavior: smooth;
}
li  a {
    text-decoration: none;
    color: black;
    transition: .2s;

}
.flex {
    display: flex;
    justify-content: space-between;
}
h3 {
    font-size: 1.7rem;
}
h2{
    margin: 0 .7em;
    font-family:'Jost' ;
}

h1{ 
    font-weight: 900;
    margin: 0 .48em;
    font-family:'Rubik';
    font-size: 2.2rem;
}
ul li  {
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    padding: 0 .5rem;
} 
ul li a:hover{
    color:var(--primaryclr) ;
} 
nav {
    align-items: center;
    font-family: 'Nunito';
    padding: .5rem .8rem;
}
span{
    color:var(--primaryclr);
}
p {
    margin: 1rem;
    font-weight: 100;
    font-family: Rubik;
    line-height: 25px;
    font-size: 1.1rem;
}


#project{
    width:100;
    min-height: 100vh;
    max-height: 100%;
    padding-top: 2em;
    background-color: rgb(243, 107, 44);
}
.titles {
    font-family: 'Nunito';
    text-align: center;
    color: white;
}
.imgs {
    width:  8em;
    height: 8em;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin: 1.5rem auto;
    box-shadow: 0 0 5px rgb(95, 94, 94);
}
.container {
    margin-top: 3rem;
    display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;
   /* display: grid;
   grid: ; */
}

.card {
    margin: .5rem;
    width: 10rem;
    height: 15rem;
    border-radius: 10px;
    background-color: rgb(216, 212, 212);
}
.container h3 {
    font-family: Jost;
    text-align: center;
    position: relative;
    top: -.5rem;
    margin: 0 auto;
}
.card a {
    text-decoration: none;
    color: black;
}
#about {
 min-height: 98vh;
 max-height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: rgb(242, 240, 238);
} 
.small-text {
    font-size: 15px;
    color: rgb(171, 168, 163);
    text-align: center;
    margin-bottom: 0px;
    
}
.head {
    text-align: center;
    font-size: 20px;
    margin-top: -5px;
}

.content-box {
    margin-top: 20px;
    width:350px;
    height: 100%;
    border:2px solid black;
    border-radius: 10px;
    padding:10px
}
.content-head {
    font-size: 15px;
    font-weight: 700;
    color:rgba(11, 11, 11, 0.562);
    margin: -20px auto 15px;
     
    text-align: center;
}

.icon {
    position: relative;
    left:35%;
    transform: translateX(-50%);
}
.sk {
    left: 40%;
}

.skill-box {
    margin: 0 auto;
    width: 90%;
}
.skill-box .title {
    margin-left: -15px;
    font-size: 15px;
    color: black;

    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.skill-bar {
    width: 100%;
    height: 8px;
    background-color: rgb(0,0,0,0.1);
    border-radius: 6px;
    margin: 15px 0px;
}
.skill-perc {
    position: relative;
    display: block;
    width: 90%;
    height: 100%;
    background-color:var(--primaryclr);
    border-radius: 6px;
    animation: progress .5s forwards;
}
.css {
    width:85%;
}
.js {
    width: 80%;
}
.indicator{
    position: absolute;
    background: var(--primaryclr);
    right: -15px;
    top: -25px;
    font-size:12px;
    color: white;
    padding: 2px 4px;
    border-radius: 3px;
    font-weight: 700;
    z-index: 1;
 
}
@keyframes progress {
  0% {
    width: 0%;
    opacity: 0;
  }
  100 {
    width:100%;
    opacity:1;
  }

}
.indicator::before {
    content: "";
    position: absolute;
    height: 10px;
    left:45%;
    bottom: -5px;
    width: 10px;
    z-index: -1;
    background-color:  rgb(253, 125, 19);
    transform:rotate(45deg) translateX(-50%);
}


/* small screen */

@media (max-width:450px){
    .blob {
        margin: 2rem auto;
         }
      
    .main {width: 100vw;
        height:100vh;
    }
    .card {
        margin: 3rem auto 2rem;
    }
    .long-h3{
        width: 140px;
        word-wrap: break-word;
        line-height: 1em;
    }
    section {
        min-height: 100vh;
    }
    .greetings {
       transform: translateX(-50%);
    }
    .about-pic {
        width: 260px;
        height: 250px;
        background-image: url(/images/about\ pic-min.jpg);
        border-radius: 50%;
        margin-top: 20px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 23%;
      box-shadow: 0px 1px 5px black;
    }
}  