*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
 .blob {
    width: 400px;
    height: 400px;
    background-image: url(./images/portrait.png);
    background-position: center;
    background-size: cover;
animation: blob 15s forwards infinite ;
}

@keyframes blob {
    
    0% , 100%{
        border-radius:52% 48% 47% 53% / 39% 58% 42% 61%  ;
    }
    20% , 80%{
        border-radius:68% 32% 51% 49% / 27% 58% 42% 73%    ;
    }
     
    40% {
        border-radius:63% 37% 37% 63% / 60% 39% 61% 50%  ;
    }

    60% {
        border-radius:71% 29% 41% 59% / 61% 59% 41% 39% ;
    }
}
@media (max-width:400px){
    .blob {
        width: 300px;
        height: 300px;
    }
}
