@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@300&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.bg {
 background-image: url(./images/blob-bg.svg);
 height: 100vh;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}
.container {
    max-width: 500px;
    background-color: rgb(39, 57, 105);
    /* border: 5px solid red; */
    max-height:  540px;
    position: relative;
    top: 20%;
    margin: 0 auto;
    padding: 20px 20px 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px;
}
h3 {
    user-select: none;
    font-family: 'Open sans';
    font-size: 1.5rem;
    text-align: center;
    color: aliceblue;
}
span {
    color:rgb(255, 9, 9);
}
.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(217, 221, 249);
    border-radius: 30px;
    padding-left: 15px;
    margin-top: 30px;
    box-shadow: 0px 0px 15px;
}
#input {
    color: rgb(0, 0, 0);
    font-size: larger;
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-family:'poppins' ;
    font-weight: bold;

}
#add {
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    background: rgb(255, 9, 9);
    padding: 13px 35px;
    border-radius: 30px;
    font-size: larger;
    font-family:'poppins' ;
    font-weight: bolder;
    cursor: pointer;
    transition: 400ms;
}
#add:hover {
    transform: scale(1.05);
   background:rgb(15, 15, 15) ;
}
ul{
    padding-top: 30px;
}
ul li {
    list-style: none;
    color: aliceblue;
    text-decoration: none;
    padding: 10px 8px 12px 50px;
    font-family: 'poppins';
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    position: relative;
    word-wrap: break-word;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url(./images/unchecked.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    left: 5px;
}
.checked {
    color: #dbdbdbf0;
    text-decoration: line-through;
}
ul li.checked::before {
    background-image: url(./images/checked.png);
}
ul li span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 25px;
    color: #e4e1e1;
    line-height: 31px;
    text-align: center;
    top: 5px;
    border-radius: 50%;
    transition: 0.4s;
}
ul li span:hover {
    color: black;
    background: #e7e5e5f0;
}
@media screen and (max-width:400px) {
    .container{
        max-width:300px;
        margin: 0 auto;
}
#add {
    margin-left:-100%;
}
.box {
    max-width: 250px;
}
.bg {
    width :100vw;
    height: 100vh;
}

}